<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
Academy Year: {{.AcaYear}}
Semester: {{.Fall.Term}}
Courses: {{range .Fall.Courses}}
    Number: {{.Number}}
    Name: {{.Name}}
    Units: {{.Units}}
{{end}}
Semester: {{.Spring.Term}}
Courses: {{range .Spring.Courses}}
    Number: {{.Number}}
    Name: {{.Name}}
    Units: {{.Units}}
{{end}}
{{end}}

</body>
</html>